<h1 class='mb-1'>Admin Interface</h1>


<%= link_to 'Consumption statistics', show_statistics_path, class: 'btn btn-primary mb-4' %>
<%= link_to 'Add new user', new_user_path, class: 'btn btn-primary mb-4' %>
<h2>Users</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Is admin</th>
      <th></th>
    </tr>
  </thead>

  <tbody> 
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><% if user.is_admin %>&#10004<% end %></td>
        <td><%= link_to 'Show', show_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>