<p id="notice"><%= notice %></p>

<h1>Потребление холодной воды</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Max Cold</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users_sorted_3_greater_cold.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.max_cold %></td>
      </tr>
    <% end %>
  </tbody>
</table>