<%= form_with(model: metric, local: true) do |form| %>
  <% if metric.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <p><%= pluralize(metric.errors.count, "error") %> occured:</p>

      <ul>
        <% metric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :cold %><br />
    <%= form.number_field :cold %>
  </div>

  <div class="form-group field">
    <%= form.label :hot %><br />
    <%= form.number_field :hot %>
  </div>

  <div>
    <%= form.submit 'Submit' %>
  </div>
<% end %>
