  <% if flash[:metric_edit_error] %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <ul>
        <% flash[:metric_edit_error].each do |key, messages| %>
          <% messages.each do |message| %>
            <li><%= key %> : <%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-25">
    <div class="form-group field">
      <%= form.label :cold %>
      <%= form.number_field :cold, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :hot %>
      <%= form.number_field :hot, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<%#<% end %>
