<%= form_with(model: user, local: true, url: create_user_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <p><%= pluralize(user.errors.count, "error") %> occured:</p>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-25">
    <div class="form-group field">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :login %>
      <%= form.text_field :login, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= form.check_box :is_admin %>
      <%= form.label :is_admin %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
